<html>
<head>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/scripts/chat.js"></script>
<script>
    window.onload = function() {
        var PORT = 9000;

        var messages = [];
        var socket = io.connect('http://localhost:9000');
        var field = document.getElementById("field");
        var sendButton = document.getElementById("send");
        var content = document.getElementById("content");
        var name = document.getElementById("name");

        socket.on('message', function (data) {
            if(data.message) {
                messages.push(data);
                var html = '';
                for(var i=0; i<messages.length; i++) {
                    html += '<b>' + (messages[i].username ? messages[i].username : 'Server') + ': </b>';
                    html += messages[i].message + '<br />';
                }
                content.innerHTML = html;
            } else {
                console.log("There is a problem:", data);
            }
        });

        sendButton.onclick = function() {
            if(name.value == "") {
                alert("Please type your name!");
            } else {
                var text = field.value;
                socket.emit('send', { message: text, username: name.value });
            }
        };

    }
</script>

</head>
<body >
Messenger<br>
<table>
    <form method="GET" action="/">
        <tr><td>Name:</td><td><input type="text" id="name"></td></tr>
        <tr><td>Message:</td><td><input type="text" id="field"></td></tr>
        <tr><td></td><td><input type="button"  value="Send" id="send"></td></tr>
    </form>
    <tr><td></td><td><div  id="content"></div></td></tr>
</table>
</body>
</html>