<html>
<head>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/scripts/chat.js"></script>
</head>
<body >
Messenger<br>
<table>
    <form method="GET" action="/">
        <tr><td>Name:</td><td><input type="text" id="name"></td></tr>
        <tr><td>Message:</td><td><input type="text" id="field"></td></tr>
        <tr><td></td><td><input type="button"  value="Send" id="send"></td></tr>
    </form>
    <tr><td></td><td><div  id="content"></div></td></tr>
</table>
</body>
</html>